# Import library

In [3]:
import pandas as pd

# Extract process
 Read (.csv) File from Google Drive

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

df_participant = pd.read_csv('gdrive/My Drive/dqthon-participants.csv')

Mounted at /content/gdrive

# Dataset dqthon-participants.csv

In [4]:
print(df_participant)

                            participant_id first_name   last_name  \
0     bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a      Citra  Nurdiyanti
1     7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3       Aris    Setiawan
2     19582d7f-b824-4fe5-a517-d5bf573fc768   Cornelia   Handayani
3     aeb6d817-25f3-4867-8a74-8d92e0a0f633      Soleh      Rajasa
4     1fdabdd9-5444-4c97-87b2-fe8833ad0d27       Vivi      Astuti
...                                    ...        ...         ...
4995  5f084245-58cb-4360-8cff-112f06f7214e      Mitra    Latupono
4996  fc6e142a-3f66-4330-9975-8c1dc7f9bb03      Indah   Rahmawati
4997  4521ff9f-4aec-401b-84aa-a4e6fc6549a4      Irsad    Najmudin
4998  1c91596e-427c-44a7-b7d0-974f44e18381      Carla    Nasyidah
4999  5d682e84-bcb5-43e9-8ce0-615364f5376a    Darmana     Maryadi

       birth_date                                            address  \
0     05 Feb 1991           Gg. Monginsidi No. 08\nMedan, Aceh 80734
1     11 Jan 1993     Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434
2     31 Jul 1993             Jalan Kebonjati No. 0\nAmbon, SS 57739
3     04 Nov 1991    Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156
4     22 Jan 2003  Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...
...           ...                                                ...
4995  27 Apr 2000            Jl. Monginsidi No. 5\nCirebon, BB 50268
4996  06 Mar 1996              Gang Joyoboyo No. 73\nBogor, BT 57434
4997  14 Feb 2003   Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312
4998  22 Aug 1994  Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...
4999  09 Feb 2002  Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...

             phone_number      country                            institute  \
0         (0151) 081 2706      Georgia                 UD Prakasa Mandasari
1      +62 (036) 461 7027  Korea Utara               Universitas Diponegoro
2            089 833 6695       Komoro             UD Hardiansyah Puspasari
3      +62 (418) 329-4756      Eritrea            Perum Tampubolon Yuliarti
4               812511835     Aljazair               PT Hardiansyah Rahimah
...                   ...          ...                                  ...
4995   +62 (050) 795-8398     Hongaria  Institut Teknologi Sepuluh Nopember
4996  +62 (0443) 963 0055     Norwegia                   CV Safitri Hastuti
4997  +62 (0408) 216-7689        Ghana   Universitas Katolik Widya Manadala
4998  +62 (0751) 380 3352       Gambia                           CV Permadi
4999   +62 (066) 414 8791    Singapura             Perum Laksita Kuswandari

                          occupation  register_time
0     Business Intelligence Engineer     1617634046
1                  Frontend Engineer     1617634018
2                   Business Analyst     1617634035
3                    DevOps Engineer     1617634034
4                       Data Analyst     1617634010
...                              ...            ...
4995  Business Intelligence Engineer     1617633976
4996                   Data Engineer     1617634008
4997              Fullstack Engineer     1617633966
4998              Fullstack Engineer     1617634005
4999                 DevOps Engineer     1617634011

[5000 rows x 10 columns]

# Transform: I
There was a request that they needed the postal code of the participants to make sending trophies easier and faster. Therefore, create a new column named postal_code which contains information about the postal code taken from the participant's address (address column).

Note that the zip code is at the very end of the address.

In [7]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$') 
print(df_participant['postal_code'].head(20))

0     80734
1     09434
2     57739
3     76156
4     70074
5     00880
6     48108
7     64255
8     89056
9     51825
10    18717
11    40721
12    40645
13    12174
14    46071
15    29328
16    15807
17    31450
18    30846
19    80904
Name: postal_code, dtype: object

# Transform: II
create a new column named city which is obtained from the address column. It is assumed that the city is a set of characters that appear after the street number followed by \n (newline character).

In [8]:
df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w.+)(?=,)') 
print(df_participant['city'].head(20))

0                               Medan
1                          Prabumulih
2                               Ambon
3                        Lubuklinggau
4                              Kediri
5                            Denpasar
6                           Samarinda
7                            Parepare
8                               Medan
9                              Bitung
10                             Kediri
11                            Bau-Bau
12                          Gorontalo
13                              Batam
14                          Pagaralam
15                   Tidore Kepulauan
16    Kota Administrasi Jakarta Barat
17                            Tarakan
18                              Depok
19                       Palangkaraya
Name: city, dtype: object

# Transform: III
create a new column named github_profile which is the participant's github profile link. Note that their github profile is a lowercased concatenation of first_name and last_name.

In [9]:
df_participant['github_profile'] = 'https://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()
print(df_participant['github_profile'].head(20))

0         https://github.com/citranurdiyanti
1            https://github.com/arissetiawan
2       https://github.com/corneliahandayani
3             https://github.com/solehrajasa
4              https://github.com/viviastuti
5     https://github.com/bahuraksamangunsong
6            https://github.com/tiaramaryati
7            https://github.com/dimazgunarto
8           https://github.com/zizipuspasari
9           https://github.com/cecepharyanto
10          https://github.com/vanyayuliarti
11           https://github.com/yahyadamanik
12         https://github.com/nataliahartati
13         https://github.com/karjasihombing
14             https://github.com/mariautami
15          https://github.com/kalimsimbolon
16           https://github.com/keziawahyuni
17         https://github.com/saifuldongoran
18               https://github.com/aniutami
19         https://github.com/heruanggriawan
Name: github_profile, dtype: object

# Transform: IV
phone_number column is very inconsistent. Therefore, we need to clean the cellphone number data so that it has the same format. Given format rules:
1. If the HP number prefix is the number 62 or +62 which is the Indonesian telephone code, then it is translated to 0.
2. No punctuation such as opening bracket, closing bracket, dash⟶ ()-
3. There is no space in the column name for the cell phone number to store the cleaning results for the cell phone number, namely **cleaned_phone_number**

In [12]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
# Melakukan data cleansing pada kolom 'phone_number'
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')
print(df_participant['cleaned_phone_number'].head(20))

0     01510812706
1     00364617027
2      0898336695
3     04183294756
4       812511835
5      0113697082
6     02444307220
7     00569319059
8      0118261289
9      0861561327
10    00045616831
11    03040751010
12    07667384901
13     0579263059
14    04476081087
15     0930630588
16    08572635384
17    06313638240
18    07835295810
19     0835045393
Name: cleaned_phone_number, dtype: object

<ipython-input-12-9feed73d5c7e>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')
<ipython-input-12-9feed73d5c7e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
<ipython-input-12-9feed73d5c7e>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')

# Transform: V
Create a new column named team_name. It is known that the team name is a combination of values from the first_name, last_name, country and institute columns. Using the first letter for fisrt_name, last_name, and institute as a value. Example: 

fisrt_name: Wildan <br>
last_name: Musyaffa <br>
country: Indonesia <br>
institute: Universitas Padjadjaran

team_name: WM-Indonesia-UP

In [13]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) 
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) 
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)
print(df_participant['team_name'].head(20))

0                      CN-Georgia-UPM
1                   AS-Korea Utara-UD
2                       CH-Komoro-UHP
3                      SR-Eritrea-PTY
4                     VA-Aljazair-PHR
5                       BM-Zambia-CMH
6                        TM-Libya-UIW
7     DG-Republik Demokratik Kongo-PP
8                       ZP-Gambia-UBS
9                        CH-Palau-PPP
10                    VY-Finlandia-UJ
11                        YD-Mali-PAG
12                      NH-Ghana-UKWM
13                 KS-Uzbekistan-UMSU
14                    MU-Botswana-UNS
15                      KS-Gambia-PNL
16                         KW-Iran-UH
17               SD-Sudan Selatan-UBH
18                   AU-Indonesia-UMM
19                     HA-Georgia-UAI
Name: team_name, dtype: object

# Transform: VI
Create email column with given rules:

Format email: xxyy@aa.bb.[ac/com].[cc] <br>
Information: <br>
xx -> first name (first_name) in lowercase <br>
yy -> last name (last_name) in lowercase <br>
aa -> institution name

For bb and cc values follow the value of aa. The rules:
- If the institution is a University, then
   bb -> the combination of the first letters of each word of the university name in lowercase
   Then, followed by .ac indicating the academy/study institution and followed by the cc pattern
- If the institution is not a University, then
   bb -> the combination of the first letters of each word of the institution name in lowercase
   Then, followed by .com. Please note that the cc pattern does not apply to this condition

cc -> is the country of origin of the participant, as for the rules:
- If the number of words in that country is more than 1 then take the abbreviation of that country in lowercase
- However, if the number of words is only 1 then take the first 3 letters of the country in lowercase

Example: <br>
fisrt_name: Wildan <br>
last_name: Musyaffa <br>
country: Indonesia <br>
institute: Universitas Padjadjaran <br>
Then, the email: `wildanmusyaffa@up.ac.ind`

---

fisrt_name: Hanif <br>
last_name: Nadliw <br>
country: Indonesia <br>
institute: Mining Industry Indonesia <br>
Then, the email: `hanifnadliw@mii.com`

In [14]:
# Fungsi membuat email. 
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Singkatan dari nama perusahaan dalam lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: #Kondisi untuk mengecek apakah jumlah kata dari country lebih dari 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)
print(df_participant['email'].head(20))

0         citranurdiyanti@upm.com
1           arissetiawan@ud.ac.ku
2       corneliahandayani@uhp.com
3             solehrajasa@pty.com
4              viviastuti@phr.com
5     bahuraksamangunsong@cmh.com
6            tiaramaryati@uiw.com
7             dimazgunarto@pp.com
8        zizipuspasari@ubs.ac.gam
9           cecepharyanto@ppp.com
10        vanyayuliarti@uj.ac.fin
11           yahyadamanik@pag.com
12     nataliahartati@ukwm.ac.gha
13     karjasihombing@umsu.ac.uzb
14          mariautami@uns.ac.bot
15          kalimsimbolon@pnl.com
16            keziawahyuni@uh.com
17       saifuldongoran@ubh.ac.ss
18            aniutami@umm.ac.ind
19      heruanggriawan@uai.ac.geo
Name: email, dtype: object

# Transform: VII
Format the birth_date column to YYYY-MM-DD and store it in the same column.

In [15]:
# Ubah ke datetime
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %b %Y')
print(df_participant['birth_date'].head(20))

0    1991-02-05
1    1993-01-11
2    1993-07-31
3    1991-11-04
4    2003-01-22
5    1997-11-13
6    1994-03-10
7    2000-02-16
8    2002-04-11
9    1994-01-15
10   1998-04-09
11   1993-06-30
12   1992-10-03
13   1998-02-14
14   2002-10-30
15   1995-05-19
16   1992-11-20
17   1992-09-01
18   1997-01-06
19   1992-04-14
Name: birth_date, dtype: datetime64[ns]

# Transform: VIII
Change register_time to DATETIME format according to the rules from MySQL. Save the results to the register_at column. An example: 2021-04-07 15:10:55

In [16]:
# ubah ke datetime
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s')
print(df_participant['register_at'].head(20))

0    2021-04-05 14:47:26
1    2021-04-05 14:46:58
2    2021-04-05 14:47:15
3    2021-04-05 14:47:14
4    2021-04-05 14:46:50
5    2021-04-05 14:46:04
6    2021-04-05 14:46:22
7    2021-04-05 14:45:30
8    2021-04-05 14:45:50
9    2021-04-05 14:46:54
10   2021-04-05 14:46:54
11   2021-04-05 14:45:53
12   2021-04-05 14:45:52
13   2021-04-05 14:46:37
14   2021-04-05 14:46:32
15   2021-04-05 14:46:40
16   2021-04-05 14:47:17
17   2021-04-05 14:45:50
18   2021-04-05 14:46:21
19   2021-04-05 14:45:47
Name: register_at, dtype: datetime64[ns]

# Dataset after transform process
Your dataset currently contains the columns:

- participant_id: ID of the hackathon participant. This column is unique so that participants must have different IDs
- first_name: participant's first name
- last_name: participant's last name
- birth_date: participant's date of birth (formatted to YYYY-MM-DD)
- address: the participant's residential address
- phone_number: Participant's cellphone/phone number
- country: the participant's country of origin
- institute: current participating institution, can be a company name or university name
- occupation: the participant's current occupation
- register_time: the time the participant registers for the hackathon in seconds
- team_name: the name of the participating team (a combination of first name, last name, country and institution)
- postal_code: postal code of the participant's address (taken from the address field)
- city: city of the participant (taken from the address field)
- github_profile: link to the participant's github profile (a combination of - - first name and last name)
- email: participant's email address (a combination of first name, last name, - institution and country)
- cleaned_phone_number: participant's cellphone/phone number (already more in line with the telephone number format)
- register_at: date and time the participant registers (already in DATETIME format)

In [17]:
print(df_participant.head(10))

                         participant_id first_name   last_name birth_date  \
0  bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a      Citra  Nurdiyanti 1991-02-05
1  7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3       Aris    Setiawan 1993-01-11
2  19582d7f-b824-4fe5-a517-d5bf573fc768   Cornelia   Handayani 1993-07-31
3  aeb6d817-25f3-4867-8a74-8d92e0a0f633      Soleh      Rajasa 1991-11-04
4  1fdabdd9-5444-4c97-87b2-fe8833ad0d27       Vivi      Astuti 2003-01-22
5  f1e8749d-6dec-4ede-be25-efb31ce80f99  Bahuraksa  Mangunsong 1997-11-13
6  707219fa-cb0b-467c-ad32-e99c61603020      Tiara     Maryati 1994-03-10
7  bc4e9cc3-f49b-40a2-905c-3e9dcf3af958      Dimaz     Gunarto 2000-02-16
8  7ca0a2e8-bab0-42a3-b6aa-ef4df35c7800       Zizi   Puspasari 2002-04-11
9  7db879a6-eae5-4cf3-87da-c452df8e99c1      Cecep    Haryanto 1994-01-15

                                             address        phone_number  \
0           Gg. Monginsidi No. 08\nMedan, Aceh 80734     (0151) 081 2706
1     Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434  +62 (036) 461 7027
2             Jalan Kebonjati No. 0\nAmbon, SS 57739        089 833 6695
3    Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156  +62 (418) 329-4756
4  Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...           812511835
5       Jl. Pacuan Kuda No. 58\nDenpasar, Aceh 00880   +62 (11) 369-7082
6          Gg. Cihampelas No. 4\nSamarinda, KT 48108     (0244) 430 7220
7           Gg. Sukabumi No. 7\nParepare, Bali 64255  +62 (056) 931-9059
8                   Gg. Peta No. 01\nMedan, BE 89056   +62 (11) 826-1289
9  Jalan Cempaka No. 8\nBitung, Kalimantan Barat ...   +62 (86) 156 1327

                     country                         institute  \
0                    Georgia              UD Prakasa Mandasari
1                Korea Utara            Universitas Diponegoro
2                     Komoro          UD Hardiansyah Puspasari
3                    Eritrea         Perum Tampubolon Yuliarti
4                   Aljazair            PT Hardiansyah Rahimah
5                     Zambia             CV Mardhiyah Haryanto
6                      Libya                 UD Irawan Wahyuni
7  Republik Demokratik Kongo                   Perum Purnawati
8                     Gambia  Universitas Bhayangkara Surabaya
9                      Palau           PD Pudjiastuti Palastri

                       occupation  register_time postal_code          city  \
0  Business Intelligence Engineer     1617634046       80734         Medan
1               Frontend Engineer     1617634018       09434    Prabumulih
2                Business Analyst     1617634035       57739         Ambon
3                 DevOps Engineer     1617634034       76156  Lubuklinggau
4                    Data Analyst     1617634010       70074        Kediri
5                Business Analyst     1617633964       00880      Denpasar
6                 Product Analyst     1617633982       48108     Samarinda
7                  Data Scientist     1617633930       64255      Parepare
8                    Data Analyst     1617633950       89056         Medan
9              Fullstack Engineer     1617634014       51825        Bitung

                           github_profile cleaned_phone_number  \
0      https://github.com/citranurdiyanti          01510812706
1         https://github.com/arissetiawan          00364617027
2    https://github.com/corneliahandayani           0898336695
3          https://github.com/solehrajasa          04183294756
4           https://github.com/viviastuti            812511835
5  https://github.com/bahuraksamangunsong           0113697082
6         https://github.com/tiaramaryati          02444307220
7         https://github.com/dimazgunarto          00569319059
8        https://github.com/zizipuspasari           0118261289
9        https://github.com/cecepharyanto           0861561327

                         team_name                        email  \
0                   CN-Georgia-UPM      citranurdiyanti@upm.com
1                AS-Korea Utara-UD        arissetiawan@ud.ac.ku
2                    CH-Komoro-UHP    corneliahandayani@uhp.com
3                   SR-Eritrea-PTY          solehrajasa@pty.com
4                  VA-Aljazair-PHR           viviastuti@phr.com
5                    BM-Zambia-CMH  bahuraksamangunsong@cmh.com
6                     TM-Libya-UIW         tiaramaryati@uiw.com
7  DG-Republik Demokratik Kongo-PP          dimazgunarto@pp.com
8                    ZP-Gambia-UBS     zizipuspasari@ubs.ac.gam
9                     CH-Palau-PPP        cecepharyanto@ppp.com

          register_at
0 2021-04-05 14:47:26
1 2021-04-05 14:46:58
2 2021-04-05 14:47:15
3 2021-04-05 14:47:14
4 2021-04-05 14:46:50
5 2021-04-05 14:46:04
6 2021-04-05 14:46:22
7 2021-04-05 14:45:30
8 2021-04-05 14:45:50
9 2021-04-05 14:46:54

# Load
With pandas, we can directly insert the data into the database using its built-in function, namely ***to_sql()***